DEBUG_VALUE=True                                                                                                                                                                

ENVIRONMENT=development
PROPAGATE_EXCEPTIONS=False

