DEBUG_VALUE=True                                                                                                                                                                

ENVIRONMENT=development
PROPAGATE_EXCEPTIONS=False

AWS_REGION=''
AWS_ACCESS_KEY=''
AWS_SECRET_KEY=''
S3_BASE_URL=''

BUCKET_NAME = ''
FOLDER_NAME = ''